@charset "utf-8";
/* CSS Document */

.bg-menu{
  background-color:#000000;	 	 
}
.cor1{
	 
	 color:#CA7225!important;
 }
 .tamanho-img{ max-height:700px;
 }
 
 body { background-image: url(B5bTOwjiTA6gWsW8h-FfQ8oS0r-Vhd0yQp6b4O1tw5E.jpg);
		color:#e09410;
		height:1200px
		
 }

